.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    z-index: 100;
  }
  
  .search-input {
    padding: 10px 20px;
    width: 20%;
    border-radius: 20px;
    border: none;
    background-color: #f0f0f0;
    outline: none;
    margin-left: 500px;
  }
  
  .login-btn {
    padding: 8px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #43a047;
  }
  